body {
  background-color: #EAFECE;
}
img{
    height: 200px;width: 200px;
}
header {
  text-align: center;
  background-color: rgb(223, 216, 216);
  color: rgb(5, 5, 5);
  border: 3px solid black;
}
nav{
    text-align: left;
}
a {
  color: black;
  font-size: larger;
}
h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: x-large;
}
h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
ul {
  font-style: italic;
}
table {
  border: 2px solid black;
  width: 100%;
  border-collapse: collapse;
}
th {
  border: 2px solid black;
  background-color: greenyellow;
}
td {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 20px;
  border: 1px solid black;
}
footer {
    text-align: center;
 background-color: rgb(223, 216, 216);
  border-color: aqua;
  padding: 40px;
}
